@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Arimo:wght@400;700&family=Lora:ital@0;1&display=swap');

body {
  font-family: 'Lora', serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  margin-left: 20%;
  margin-right: 20%;
}

p {
  line-height: 29px;
}

.section {
  margin: 8% 0;
}

h1 {
  font-size: 64px;
  margin: 4% 0;
}

h2 {
  font-size: 48px;
  padding-top: 30px;
}

h3 {
  font-family: 'Days One', sans-serif;
  font-size: 24px; 
  font-weight: normal;
  margin: 0;
}

h1, h2 {
  font-family: 'Days One', sans-serif;
  font-style: normal;
  font-weight: normal;
}

button {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.flex-img-text {
  align-items: center;
  display: flex;
}

#main-nav {
  margin-top: 6%;
  width: 100%;
  flex-wrap: wrap;
}

#profile-img {
  margin-right: 7%;
  width: 364px;
}

nav > ul {
  list-style-type: none;
  flex-grow: 1;
  margin-right: 7%;
  padding-left: 0;
}

nav > ul > li {
  border-bottom: 1px solid black;
  padding: 30px 0 15px 0;
  width: 100%;
}

nav > ul > li > a {
  font-size: 24px;
}

#about-text {
  margin-right: 4%;
}

.button-panel {
  align-items: center;
  display: flex;
  margin: 40px 0;
}

.button-panel > button {
  margin-right: 8%;
}

.button-content {
  align-items: center;
  display: flex;
}

.button-content > img {
  height: 100%;
  width: auto;
}

.button-content > p {
  font-family: 'Days One', sans-serif;
  margin: 0;
  padding: 0 20px;
}

.link-btn-text {
  font-size: 24px;
}

.exp-item {
  display: flex;
  margin: 30px 0;
  align-items: flex-start;
}

.exp-item > img {
  margin-top: 25px;
}

.exp-item-description {
  line-height: 161%;
  margin-left: 7%;
}

.exp-role {
  font-size: 24px;
}

.projects-item {
  display: flex;
  justify-content: space-between;
}

.projects-item > div {
  width: 45%;
}

.contact-text {
  font-size: 20px;
}

#comments-section {
  font-family: 'Arimo', sans-serif;
}

#comments-section-content {
  background-color: #F8F8F8;
  padding: 6%;
}

.comments-section-block {
  background-color: white;
  padding: 4%;
}

#new-comment-form {
  flex-grow: 1;
}

#text-input {
  font-family: 'Arimo', sans-serif;
  outline: none;
  padding: 10px;
  resize: vertical;
  width: 100%;
}

.post-div {
  display: flex;
  justify-content: flex-end;
}

#comments-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text-only-btn {
  background-color: white;
  border: none;
  font-size: 16px;
}

.text-only-btn:enabled:hover {
  cursor: pointer;
  text-decoration: underline;
}

.text-only-btn:disabled:hover {
  cursor: not-allowed;
}

.comment-item {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.comment-item:first-of-type, .comment-item:last-of-type {
  margin: 0;
}

.comment-item-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 15px 15px 15px;
}

.log-in-button {
  background-color: #6FB2F1;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  margin-left: 20px;
  padding: 8px 22px;
}

.log-in-button:disabled {
  background-color: #B8D2EA;
  color: #9A9A9A;
}

.log-in-button:hover {
  cursor: pointer;
}

.log-in-button:disabled:hover {
  cursor: not-allowed;
}

#posted-comments-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 30px;
}

#max-comments {
  background-color: white;
  border: none;
}

.comment-name {
  font-weight: bold;
  flex-grow: 1;
}