@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Lora:ital@0;1&display=swap');

body {
  font-family: 'Lora', serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  margin-left: 20%;
  margin-right: 20%;
}

p {
  line-height: 29px;
}

.section {
  margin: 8% 0;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
  padding-top: 30px;
}

h3 {
  font-family: 'Days One', sans-serif;
  font-size: 24px; 
  font-weight: normal;
  margin: 0;
}

h1, h2 {
  font-family: 'Days One', sans-serif;
  font-style: normal;
  font-weight: normal;
}

button {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

.flex-img-text {
  align-items: center;
  display: flex;
}

#main-nav {
  margin-top: 6%;
  width: 100%;
  flex-wrap: wrap;
}

#profile-img {
  margin-right: 7%;
  width: 364px;
}

nav > ul {
  list-style-type: none;
  flex-grow: 1;
  margin-right: 7%;
  padding-left: 0;
}

nav > ul > li {
  border-bottom: 1px solid black;
  padding: 30px 0 15px 0;
  width: 100%;
}

nav > ul > li > a {
  font-size: 24px;
}

#about-text {
  margin-right: 4%;
}

.button-panel {
  align-items: center;
  display: flex;
  margin: 40px 0;
}

.button-panel > button {
  margin-right: 8%;
}

.button-content {
  align-items: center;
  display: flex;
}

.button-content > img {
  height: 100%;
  width: auto;
}

.button-content > p {
  font-family: 'Days One', sans-serif;
  margin: 0;
  padding: 0 20px;
}

.link-btn-text {
  font-size: 24px;
}

.exp-item {
  display: flex;
  margin: 30px 0;
  align-items: flex-start;
}

.exp-item > img {
  margin-top: 25px;
}

.exp-item-description {
  line-height: 161%;
  margin-left: 7%;
}

.exp-role {
  font-size: 24px;
}

.projects-item {
  display: flex;
  justify-content: space-between;
}

.projects-item > div {
  width: 45%;
}

.contact-text {
  font-size: 20px;
}